<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script th:src="@{/js/jquery-3.7.0.js}"></script>

<script>
$(document).ready(function() {
	
	
});
</script>
<style>

</style>
</head>
<body>
	<h1>[ 로그인 ]</h1>
	
		<form th:action="@{/member/login}" method="post">
			ID<input type="text"><br>
			PW<input type="password"><br>
			<input type="submit" value="login">
		</form>
</body>
</html>